---
const { href } = Astro.props;
---

<style>
  .hover-underline-animation {
    position: relative;
  }

  .hover-underline-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: #2b2929;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
</style>
<a
  href={href}
  class="h-full transition-colors hover-underline-animation px-2 md:px-3 outline-beige"
>
  <slot />
</a>
