---
import FadeIn from "../components/animation/FadeIn.astro";
import CTA from "../components/animation/sections/CTA.astro";
import Section from "../components/animation/sections/Section.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Alyx Savage | Victoria & Vancouver Island Photography">
  <main>
    <FadeIn>
      <div
        class="flex flex-col justify-center items-center h-[100vh] uppercase tracking-widest relative overflow-hidden"
      >
        <div class="absolute z-10">
          <div
            class="max-w-md flex flex-col justify-center items-center text-center"
          >
            <h1 class="text-9xl md:text-10xl text-beige text-center">
              About Me
            </h1>
          </div>
        </div>
        <img
          class="brightness-50"
          src="https://images.unsplash.com/photo-1527011046414-4781f1f94f8c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80"
        />
      </div>
    </FadeIn>

    <Section>
      <div
        class="flex flex-col justify-center items-center text-charcoal space-y-12"
      >
        <h2 class="text-center text-5xl lg:text-8xl 2xl:text-9xl">
          Hi. I'm Alyx.
        </h2>
        <p class="text-lg lg:text-2xl">Hi, my name is Alyx.</p>
      </div>
    </Section>

    <CTA
      title="You're in good hands"
      description={`As a proven professional, I'm passionate about creating beautiful,
    timeless images that capture your most cherished memories. Whether
    it's beautiful photos for your website, a wedding, or a special
    event, I'll work with you to create a unique and stunning visual
    experience.`}
      cta="Get in touch"
    />
  </main>
</Layout>
