---
import FadeIn from "../components/animation/FadeIn.astro";
import Layout from "../layouts/Layout.astro";

const about1 =
  "Hi, I'm Alyx! I'm a Victoria, BC Canada based photographer with a focus on product and branding imagery for businesses.";
const about2 =
  "I love to collaborate and share my ideas to create content that aligns with a brand’s ethos. I believe that strong imagery can allow brands to communicate their ideas visually with their community in a way that inspires. Whether it be crisp product photography for online product listings, creative prop styled shots for social media, or model shots for your next marketing campaign, I am passionate about creating professional imagery that can set your business up to succeed online.";
---

<Layout title="Alyx Savage | Victoria & Vancouver Island Photography">
  <main>
    <FadeIn>
      <div class="mt-24 px-12 md:px-12 py-24 mx-auto w-fit">
        <h1 class="text-9xl md:text-10xl z-10 relative">About</h1>
        <h1 class="text-9xl md:text-10xl z-10 relative">Me</h1>
        <div class="max-w-screen-lg space-y-12 z-0 lg:mt-[-350px]">
          <img
            class="h-[70vh] object-contain lg:float-right md:mx-6"
            src="/img/about.jpg"
          />
          <div>
            <p class="text-lg lg:text-2xl pt-12 lg:pt-[500px]">{about1}</p>
            <p class="text-lg lg:text-2xl mt-6">{about2}</p>

            <div class="py-24">
              <a
                href="/contact"
                class="bg-beige rounded-lg px-12 py-6 text-charcoal uppercase transition-colors duration-500 hover:bg-charcoal hover:text-beige border border-charcoal tracking-widest w-full max-w-screen-sm"
              >
                Get in touch</a
              >
            </div>
          </div>
        </div>
      </div>
    </FadeIn>
  </main>
</Layout>
