---
import FadeIn from "../components/animation/FadeIn.astro";
import Layout from "../layouts/Layout.astro";
import CTA from "../components/animation/sections/CTA.astro";
import HomePhotos from "../components/HomePhotos.astro";
---

<Layout title="Alyx Savage | Victoria & Vancouver Island Photography">
  <main>
    <FadeIn>
      <div
        class="flex flex-col justify-center items-center h-screen uppercase tracking-widest space-y-12 px-6"
      >
        <div
          class="flex flex-col justify-center items-center text-center space-y-6"
        >
          <h1
            class="text-6xl md:text-7xl lg:text-8xl text-charcoal break-normal"
          >
            Alyx Savage
          </h1>
          <h1
            class="text-4xl md:text-5xl lg:text-6xl text-charcoal break-normal"
          >
            Photography
          </h1>
        </div>
        <a
          href="/contact"
          class="rounded-lg w-full max-w-sm py-6 text-center text-charcoal uppercase transition-colors duration-500 hover:bg-charcoal hover:text-beige border border-charcoal tracking-widest"
        >
          Get In Touch</a
        >
      </div>
    </FadeIn>

    <HomePhotos />

    <CTA title="Best Face Forward" cta="Reach Out" />
  </main>
</Layout>
