---
import FadeIn from "../../components/animation/FadeIn.astro";
import Layout from "../../layouts/Layout.astro";
import { sections } from "../../content";
import CTA from "../../components/animation/sections/CTA.astro";
---

<Layout title="Alyx Savage | Victoria & Vancouver Island Photography">
  <main>
    <FadeIn>
      <div
        class="flex flex-col justify-center items-center h-[100vh] uppercase tracking-widest relative overflow-hidden"
      >
        <div class="absolute z-10">
          <div
            class="max-w-md flex flex-col justify-center items-center text-center"
          >
            <h1 class="text-9xl md:text-10xl text-beige text-center">
              My Work
            </h1>
          </div>
        </div>
        <img
          class="brightness-50"
          src="https://images.unsplash.com/photo-1527011046414-4781f1f94f8c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80"
        />
      </div>
    </FadeIn>

    <div class="bg-[#fafafa]">
      {
        sections.map((s) => (
          <div class="grid grid-cols-1 md:grid-cols-2 h-screen md:h-fit ">
            <FadeIn>
              <img
                class="h-full w-full max-h-[50vh] object-cover"
                src={s.img}
              />
            </FadeIn>
            <FadeIn>
              <div class="flex flex-col justify-center items-center h-full p-12">
                <h2 class="text-center text-4xl lg:text-5xl 2xl:text-6xl text-charcoal uppercase">
                  {s.header}
                </h2>
                <div class="text-center flex-wrap my-6 space-x-3">
                  {s.tags.join(" · ")}
                </div>
                <a
                  href={`/projects/${s.id}`}
                  class="bg-charcoal tracking-widest rounded-lg my-6 px-24 text-center py-6 text-[#fafafa] uppercase transition-colors duration-500 hover:bg-[#fafafa] hover:text-charcoal border border-charcoal"
                >
                  See more
                </a>
              </div>
            </FadeIn>
          </div>
        ))
      }
    </div>

    <CTA
      title="You're in good hands"
      description={`As a proven professional, I'm passionate about creating beautiful,
    timeless images that capture your most cherished memories. Whether
    it's beautiful photos for your website, a wedding, or a special
    event, I'll work with you to create a unique and stunning visual
    experience.`}
      cta="Get in touch"
    />
  </main>
</Layout>
