---
import FadeIn from "../../components/animation/FadeIn.astro";
import Layout from "../../layouts/Layout.astro";
import { sections } from "../../content";
---

<Layout title="Alyx Savage | Victoria & Vancouver Island Photography">
  <main>
    <FadeIn>
      <div
        class="flex flex-col justify-center items-center h-[100vh] uppercase tracking-widest relative overflow-hidden"
      >
        <div class="absolute z-10">
          <div
            class="max-w-md flex flex-col justify-center items-center text-center"
          >
            <h1 class="text-5xl md:text-9xl text-beige">My Work</h1>
          </div>
        </div>
        <img
          class="brightness-50"
          src="https://images.unsplash.com/photo-1527011046414-4781f1f94f8c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80"
        />
      </div>
    </FadeIn>

    <div class="bg-[#fafafa]">
      {
        sections.map((s) => (
          <div class="grid grid-cols-1 md:grid-cols-2 h-screen md:h-fit ">
            <FadeIn>
              <img class="h-full max-h-[50vh] object-cover" src={s.img} />
            </FadeIn>
            <FadeIn>
              <div class="flex flex-col justify-center items-center h-full p-12">
                <h2 class="text-center text-4xl lg:text-5xl 2xl:text-6xl text-charcoal uppercase">
                  {s.header}
                </h2>
                <div class="text-center flex-wrap my-6 space-x-3">
                  {s.tags.join(" · ")}
                </div>
                <a
                  href={`/projects/${s.id}`}
                  class="bg-charcoal tracking-widest rounded-lg my-6 px-24 text-center py-6 text-[#fafafa] uppercase transition-colors duration-500 hover:bg-[#fafafa] hover:text-charcoal border border-charcoal"
                >
                  See more
                </a>
              </div>
            </FadeIn>
          </div>
        ))
      }
    </div>

    <div class="py-48">
      <div class="flex flex-col justify-center text-center">
        <FadeIn>
          <h2
            class="text-center text-4xl lg:text-5xl 2xl:text-7xl text-charcoal"
          >
            You're In Good Hands
          </h2>
        </FadeIn>
        <FadeIn>
          <p class="text-charcoal py-6 text-2xl max-w-screen-lg mx-auto">
            As a proven professional, I'm passionate about creating beautiful,
            timeless images that capture your most cherished memories. Whether
            it's beautiful photos for your webiste, a wedding, or a special
            event, I'll work with you to create a unique and stunning visual
            experience.
          </p>
        </FadeIn>
      </div>
      <FadeIn>
        <div class="flex flex-row items-center justify-center">
          <a
            href="/contact"
            class="bg-charcoal rounded-lg my-24 px-24 py-6 text-beige uppercase transition-colors duration-500 hover:bg-beige hover:text-charcoal border border-charcoal tracking-widest"
          >
            Work With Me</a
          >
        </div>
      </FadeIn>
    </div>
  </main>
</Layout>
